<main>
<div class="toumei">
<div class="container">
  <div class="row">
    <div class="col" style="text-align: center">
      <h3 class="my-5">本当に退会しますか？</h3>

     <div>
        <span><strong>退会すると、会員登録情報や</strong></span></br>
        <span><strong>これまでの購入履歴が閲覧できなくなります。</strong></span></br>
        <span><strong>退会する場合は、「退会する」をクリックしてください。</strong></span>
      </div>
        </div>
           </div>

      <!--退会確認ボタン-->
       <div class="row mt-5 d-flex justify-content-center">
    <div class="col-2">
 <%= link_to "退会しない",customers_path,class: "button" %>
 </div>
 <div class="col-2">
 <%= link_to " 退会する ",customers_withdraw_path,method: :patch, data: { confilm: "本当に退会しますか？" }, class: "button" %>
    </div>
      </div>
        </div>
         </div>
</main>