// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    background-color: #24140e;
    color: #e6b422;
    width:300px;
     text-align: center;
}

.customer_table{
  width: 100%;
  th,
  tr,
  td{
    border: 2px solid black;
    padding: 10px;
  }
}

.common{
  width: 30%;
  background-color: #eeeeee;
}
.my-5{
    background-color: #24140e;
    color: #e6b422;

}
