// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.thankyou-links {
  text-align: center;
  padding-top: 50px;
}

.message-container {
  padding-top: 200px;
}