<div class="top-visual">
  <div class="top-conteiner">
  		</div>
				</div>
    <div class="top-message">

				  <h3>ようこそ、長野ケーキへ!</h3>
			  <p>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
			</div>
			<div>
			 <div class="row mt-4">
    <section class="new-items col-md-12">
      <h3><strong>新着商品</strong></h3>
        <% @products.each do |products| %>
          <div class="col-3">
            <div class="card border border-0">
                <%= attachment_image_tag item, :image, size: "250x200", fallback: "no_image1.jpg" %>
              <% end %>

			<div class="col-md-12 text-right">
			<p>全ての商品を見る></p>
			</div>
		</div>



