<div class="top-visual">
  <div class="top-conteiner">
  	</div>
			</div>
    		<div class="top-message">
			   <h3>ようこそ、長野ケーキへ!</h3>
			   <p>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				 </p>
				 </div>
				 <div>
				 <div class="row mt-4">
    	  <section class="new-items col-md-12">
         <h3><strong>新着商品</strong></h3>
					<!-- 4つランダムに表示されます -->
          <% @products.first(4).each do |product| %>
          <%= link_to products_path(product) do %>
          <%= image_tag product.get_image, size:'100x100' %>
          <% end %>
          <% end %>



				 <div class="col-md-12 text-right", style=text-decoration:underline>
					<%= link_to "全ての商品を見る>",  products_path %>
				</div>
					</div>
						</div>
							</div>



