<h1>商品一覧</h1>


<table class="teble">
  <thead>
    <tr>
      <th class="header1">商品名</th>
      <th class="header2">税抜価格</th>
      <th class="header3">ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>内容1</td>
      <td>内容2</td>
      <td></td>
    </tr>
  </tbody>
  </table>
<%# @products.each do |product| %> 
 
 
